.search-box input{
  background-color: white;
  border: none;
  outline: none;
  box-shadow: none;
}

.search-box input:hover, .search-box input:active, .search-box input:focus{
  border: none;
  outline: none;
  box-shadow: none;
}

.search-box button{
  background: var(--color-primary);
  box-shadow: none;
  color: var(--color-font);
  border-radius: 0%;
}

.search-box button:hover{
  border: 0;
  outline: none;
  box-shadow: none;
}
.search-box input::placeholder{
  color: var(--color-text-primary);
}

.search-box .fa-search{
  font-size: 23px;
}

.new-lawyer {
  background: var(--color-primary);
  border-radius: 0%;
  color: var(--color-font);
}

hr {
  border: 1px solid var(--color-primary);
}

.card-principal {
  width: 90%;
  max-height: 350px;
  background-color: white;
  border: none;
  border-radius: 1px;
  -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.card-principal > img {
  margin: 10px 0;
}

.card-principal > h4 {
  padding: 5px;
  color: var(--color-primary);
}

.card-principal > h6 {
  padding: 5px;
  color: var(--color-text-primary);
}

#cards > div {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}
