.title {
  background: var(--color-primary);
}

h3 {
  color: white;
}

.title a {
  background: var(--color-primary);
  color: white;
}

.fomr {
  background: white;
}

.saveButton, .saveButton:hover, .saveButton:active, .saveButton:focus, .saveButton:link {
  border-color: var(--color-primary);
  background: var(--color-primary);
  color: white;
}

h6 {
  color: var(--color-primary);
}

input, input:hover, input:active, input:focus{
  border: none;
  border-radius: 0px;
  outline: none;
  box-shadow: none;
  border-bottom: 1px solid var(--color-primary) !important;
  background: transparent;
  color: black;
  padding: 0px;
}
